
/ = image_tag("crowd_grey_blurred.png", class: "img-responsive signup-role-image")
/ = image_tag("musician_grey.png", class: "img-responsive signup-role-image")

.fan-img
    %p.fan-signup-text Fan
.musician-img
    %p.musician-signup-text Musician