
.row
  .col-xs-12
    .fan-container
      = link_to image_tag('', :class => "img-responsive fan-img"), new_fan_path
      %p.fan-text Fan
.row
  .col-xs-12
    .artist-container
      = link_to image_tag('', :class => "img-responsive artist-img"), new_artist_path
      %p.artist-text Artist