// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fan-container {
    font-family: 'Josefin Slab', serif;
    &:hover {
        //background-image: url(crowd_red.png);
    }
}

.artist-container {
    font-family: 'Satisfy', cursive;
    &:hover {
        //background-image: url(solo_musician_color.png);
    }
}

.fan-container,.artist-container {
    color: white;
    text-align: center;
    font-size: 4em;
}

.fan-text {
    position: absolute;
    top: 35%;
    left: 46%;
}

.artist-text {
    position: absolute;
    top: 55%;
    left: 45%;
}

.fan-container, .artist-container{
    .fan-img, .artist-img {
        width: 100vw;
        height: 45vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: white;
        text-align: center;
        font-size: 4em;
        overflow: none;
    }
}

.fan-container{
    .fan-img {
        background-image: url(crowd_grey_blurred.png);
        &:hover {
            background-image: url(crowd_red.png);
        }
    }
}

.artist-container{
    .artist-img {
        background-image: url(musician_grey.png);
        &:hover {
            background-image: url(solo_musician_color.png);
        }
    }
}
